# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

# Virtual environments
venv/
.venv/

# IDE and editor settings
.idea/
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and temporary files
*.log
*.tmp
*.bak
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Local settings
*.sqlite3
*.db

# Custom user-specific files
*.local
*.secret
